[Unit]
Description=keyserver watcher

[Service]
Type=oneshot
WorkingDirectory=/opt/keyserver
EnvironmentFile=/opt/keyserver/dotenv
ExecStart=/usr/bin/python3 ./scripts/generate.py

[Install]
WantedBy=keyserver.service
