[Unit]
Description=key server
Before=authorized-keys-watcher.path
Requires=keyserver-watcher.path keyserver-watcher.service

[Service]
Type=exec
Restart=on-success
WorkingDirectory=/opt/keyserver
EnvironmentFile=/opt/keyserver/dotenv
ExecStartPre=/usr/bin/python3 ./scripts/generate.py
ExecStart=docker-compose -f ./docker-compose.yaml up -V

[Install]
WantedBy=multi-user.target
