[Unit]
Description=keyserver kscreate
StopWhenUnneeded=true

[Service]
Type=oneshot
WorkingDirectory=/opt/keyserver
ExecStart=/opt/keyserver/freshen-keys.sh
ExecStart=docker compose -f /opt/keyserver/conf/compose.yaml run --rm create
