[Unit]
Description=keyserver kscreate
StopWhenUnneeded=true

[Service]
Type=oneshot
WorkingDirectory=/opt/keyserver
EnvironmentFile=/opt/keyserver/dotenv
ExecStart=docker compose -f docker-compose.yaml run --rm create
