[Unit]
Description=keyserver kssite
# Before=authorized-keys-watcher.path
# Requires=keyserver-watcher.path keyserver-watcher.service

[Service]
Type=exec
Restart=on-success
WorkingDirectory=/opt/keyserver
ExecStartPre=docker compose -f /opt/keyserver/conf/compose.yaml run --rm create
ExecStart=docker compose -f /opt/keyserver/conf/compose.yaml up site

[Install]
WantedBy=multi-user.target
